.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1536px;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1536px;
}

.main-body {
  background: #fff;
  border-radius: 0.5rem;
  min-height: 445px;
  min-width: 912px;
  padding: 1.5rem 0.75rem;
  overflow-x: auto;
}

@media (max-width: 640px) {
  main {
    width: 100%;
  }

  .main-body {
    align-self: flex-start;
    height: 100%;
    border-radius: 0;
    width: 100%;
    min-width: 100%;
  }

  .App {
    background: #fff;
  }
}
